body {
	font-family: "Courier New", monospace;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
	text-align: center;
	color: #333;
}

.cardSelection {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}
.cardSelection label {
  white-space: nowrap;
  margin-right: 10px;
  display: inline-block;
}

.read-the-docs {
	font-size: 18px;
	margin-bottom: 10px;
}

input {
	padding: 10px;
	font-size: 16px;
	width: 100px;
	text-align: center;
	margin-right: 10px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #555;
}

code {
  max-width: 100%;
	font-size: 20px;
	padding: 10px;
	background-color: #ddd;
	border-radius: 4px;
	display: inline-block;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
  word-break: break-word;
	box-sizing: border-box;
}

.main-container {
	display: flex;
	align-items: stretch;
	justify-content: center;
	height: 100vh;
	box-sizing: border-box;
}
.generator {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	box-sizing: border-box;
}

.password-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 80%;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
}

.history-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: 100vh;
	box-sizing: border-box;
	max-width: 40%;
}
@media (max-width: 768px) {
  .history-cards {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
  }
  .history-cards h1+button {
    display: block;
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (min-width: 769px) {
  .history-cards h1 button {
    display: none;
  }
}
